.arquivo{
    position: relative;
    text-align: center;
    width: 500px;
    background: var(--cor-do-card);
    filter: opacity(0.8) blur(100%);
    color: var(--cor-da-fonte1);
    border-radius: 1em 100px 1em 1em;
    padding: 1em;
}   
.arquivo__titulo{
    text-align: left;
    padding: 1em 0;
    margin: 0 4em;
}
.arquivo__lista{
    display: flex;
}
.arquivo__item{
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 1em black;
    transition: 0.2s;
    margin: 0 1em;
    background: var(--fundo);
    padding: 0.6em 13px;
    border-radius: 10px;
}
.arquivo__item:hover{
    background: var(--cor-da-fonte1);
    box-shadow: 0 0 1em 5px var(--cor-da-fonte1);
}