.memoria{
    position: relative;
    align-items: center;
    background: var(--cor-do-card);
    border-radius: 10px;
    height: 130px;
    width: 500px;
    padding:2em ;
    color: white;
}
.memoria__restante{
   text-align: center;
   line-height: 70px;
   
    position: absolute;
    background: white;
    color: black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    right:25%;
    top: -25%;
}
.memoria__restante::after{
    content: '';
    display: block;
    position: relative;
    background: var(--cor-do-card);
    transform: skew(50deg);
    height: 50px;
    width: 108px;
}
.memoria__restante span{
    color: var(--cor-da-fonte2);
    
}
.memoria__descricao{
    position: relative;
    z-index: 10;
    font-size: 13px;
    color: var(--cor-da-fonte2);
}
.memoria__descricao span{
    color: var(--cor-da-fonte1);
    font-weight: 700;
}
.bar-progress{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 8;
    background: var(--fundo);
    border-radius: 10px;
   
    margin: 10px 0;
    height: 16px;
}
.bar-progress::before{
    position: absolute;
    z-index: 8;
    content: '0 GB';
    left: 3%;
    bottom: -100%;
    color: var(--cor-da-fonte2);
    font-size: 14px;
}
.bar-progress::after{
    position: absolute;
    z-index: 8;
    content: '1000 GB';
    right: 3%;
    bottom: -100%;
    color: var(--cor-da-fonte2);
    font-size: 14px;
}
.progress{
    position: relative;
    z-index: 9;
    display: inline-block;
    background: linear-gradient(90deg,#fd9d94,#f94b91);
    border-radius: 10px;
    margin: 0 5px;
    width: 80%;
    height: 8px;
    padding: 5px 0;
}
.progress div{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 1%;
    background: white;
    border-radius: 100%;
    width: 8px;
    height: 8px;
}